* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Carbon;
    src: url(../fonts/carbon.otf)
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

body {
    font-family: Raleway;
    line-height: 1.6;
    font-size: 1.2rem;
    background-color: #63c9ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%237ccaff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2391cbff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23a3ccff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23b4cdff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23c4ceff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23d0d8ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23dce1ff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23e8ebff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f4f5ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;        
}
.navbar {
    font-size: 18px;
    background-color: #112;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    height: 50px;;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    background-color: #112;
    text-align: center;
    border: 10px solid #112;
    position: relative;;
    z-index: 10;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: Carbon;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

.img-flag {
    vertical-align: middle;
    margin-right: 0.5em ;
}


/*
Seção com o Hero Banner
*/
.banner-top {
    position: relative;
    height: 360px;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-image: url(../img/memory-banner.webp);
    box-shadow: 0px 5px 10px #333;
}

.imgbigchip {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -160px;
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.imgtitlelogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-contents {
    /* padding: 1rem 1rem; */
    max-width: 1100px;
    margin: auto;
}

.attract-mode {
    margin-top: 2em;
    margin-bottom: 3em;
}

.attract-title {
    text-align: center;
    vertical-align: middle;
    font-family: Carbon;
    font-size: 2rem;
}

.attract-title p {
    font-family: Raleway;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 550px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 10px;
}

.main-contents h1 {
    font-size: 2.3rem;
}

.main-contents .memoryfont {
    font-family: Carbon;
}

.main-contents p {
    line-height: 1.6em;
    font-size: 1.8rem;
    margin: 0.6em;
}

.destaque {
    padding: 0.3rem;
    font-style: oblique;
    font-size: +1.2em;
    font-weight: bolder;
}

.glider img {
    border-radius: 10px;
}

.game-modes {
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-image: url(../img/gamemodes.webp);
    border-style: solid;
    border-color: #444;
    border-width: 1px;
}

.game-modes h1 {
    font-family: Carbon;
    text-align: center;
    color: #e8f0f1;
    font-size: 2.8em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(20, 20, 20, 0.5);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    animation: glow 2s ease-in-out infinite alternate;
}

.gamemodcard {
    max-width: 560px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.gamemodeicon1 {
    height: 100px;
    width: 100px;
    background: url(../img/joystick.svg);
    background-size: cover;
    background-position: center;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    position: absolute;
    top: -30px;
    left: -30px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.gamemodeicon2 {
    height: 100px;
    width: 100px;
    background: url(../img/brain.svg);
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    position: absolute;
    top: -30px;
    left: -30px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.modetitle p {
    font-family: Carbon;
    color: white;
    font-size: 2.3rem;
    font-weight: bolder;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
}

.gamemodedesc {
    color: white;
    font-size: 1.3rem;
}

.gamemodedesc p {
    text-align: center;
    color: #e8f0f1;
}

.gamemodedesc img {
    width: 90%;
    margin-top: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.section-get-now {
    padding: 1.6em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(20, 20, 20, 0.9);
    color: rgba(255, 255, 255, 1);
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    font-size: 0.8em;
}

.footer a {
    color: white;
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }



@media screen and (min-width: 900px) {
    .column {
        flex: 2;
    }

    .main-contents h1 {
        font-size: 1.8rem;
    }

    .main-contents p {
        font-size: 1.4rem;
    }
}

/* 

Configurações para telas maiores

*/
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;
        height: 50px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}